:root {
  --bg: rgb(56,24,95);
  --fg: rgb(8,1,14);
  --field-border: rgba(149,0,255,0.1);
  --field-bg-focus: rgb(238 231 242 / 19%);
  --field-bg: rgb(236 234 238 / 10%);
}


* { box-sizing: border-box; }
html,body { 
  height: 100%; 
  width: 100%; 
  background: var(--bg)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
